extends layout.pug 

block content 
  div.container 
    h1 Create note 

    if error
      p.error Error! Please try again!

    if success 
      p.success Congrats! Note is saved!




    
    form.form(action="/create" method='POST')
       label Title:
       input.input(type="text" name='title')

       label Description: 
       textarea.input(type="text", name="description" cols="15", rows="10") 

       button.btn Create