doctype html
html(lang="en")
  head
      title Memorandum app
      link(rel='stylesheet', href='/static/styles.css') 
  body 
      header.navbar 
        h1 
          a(href='/') MEMORANDUM APP 

        nav.nav
          a(href='/notes') ALL NOTES <span>
          a(href='/archive') ARCHIVE

      block content
